name: Gitleaks Secret Scan

on:
  push:
    branches: [ master ]
  pull_request:
permissions:
  contents: read
  security-events: write
  
jobs:
  gitleaks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0


      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          report_format: sarif
          report_path: gitleaks.sarif

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
