name: Gitleaks Secret Scan

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  gitleaks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          report_format: sarif
          report_path: gitleaks.sarif

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: gitleaks.sarif
