name: Renovate (Single Repo)

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Run Renovate
        uses: renovatebot/github-action@v40.3.6
        env:
          RENOVATE_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
          RENOVATE_PLATFORM: github
          RENOVATE_REPOSITORIES: saipriya-30/projectgit
          LOG_LEVEL: info

