name: Trivy Security Scan

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Trivy cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/trivy
          key: trivy-cache-${{ runner.os }}-${{ hashFiles('**/requirements.txt') }}

      - name: Run Trivy filesystem scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          scan-ref: .
          severity: CRITICAL,HIGH,MEDIUM
          ignore-unfixed: true
          format: table



